@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("./styles/reset.css");
@import url("./styles/utils.css");
@import url("./styles/components.css");

body {
  --color-accent-dd: rgb(123, 47, 0);
  --color-accent-d: rgb(154, 74, 0);
  --color-accent: rgb(243, 173, 75);
  --color-accent-l: rgb(238, 205, 145);
  --color-accent-ll: rgb(252, 239, 218);

  font-family: "Silkscreen", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--color-accent-l);
  font-smooth: never;
  -webkit-font-smooth: none;
  height: 100vh;
  font-size: 16px;
  border: 2px solid black;
}

#app {
  height: 100%;
}
