/* APP */
.app-layout {
  display: flex;
  flex-direction: column;
}

.app-layout__main {
  min-height: 0px;
  flex-grow: 1;
}

/* CHAT */

.chat-layout {
  display: flex;
  flex-direction: column;
}
.chat-layout__messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chat-layout__text-box {
  flex-shrink: 0;
  resize: none;
}

.message-meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.message-meta__time {
  margin-left: auto;
}

/* NAV */
.nav-tabs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 4px;
  margin-bottom: 8px;
}

.nav-section:not(.active) {
  display: none;
}
