/* APP */
.app-layout {
  display: flex;
  flex-direction: column;
}

.app-layout__main {
  min-height: 0px;
  flex-grow: 1;
}

/* CHARACTERS */
.character-layout {
  display: flex;
  flex-direction: column;
}

.character-layout__header {
  padding: 16px;
  border-bottom: 2px solid black;
}

.character-layout__scroll {
  overflow-y: auto;
}

.character-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.character-item {
  display: flex;
  align-items: center;
}

.character-button {
  padding: 24px 16px;
  image-rendering: pixelated;
  filter: grayscale(1);
  will-change: filter, background-color;
  transition: filter 200ms, background-color 200ms;
}

.character-button[data-active] {
  filter: grayscale(0);
  transition: none;
}

.character-button:where(:hover, :focus-visible) {
  filter: grayscale(0);
}

.character-bio {
  padding-inline: 16px;
}

.character-details :where(dt, dd) {
  display: inline;
}

.character-submit-design {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

/* CHAT */

.chat-layout {
  display: flex;
  flex-direction: column;
}
.chat-layout__messages {
  padding: 16px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.chat-layout__text-box {
  flex-shrink: 0;
  resize: none;
  border: none;
  border-top: 2px solid black;
}

.message-body {
  padding: 4px;
}

.message-meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.message-meta__sender {
  padding-inline: 4px;
}
.message-meta__time {
  margin-left: auto;
}

/* KEYBOARD */
kbd {
  display: inline-flex;
  width: 2ch;
  place-content: center;
  padding: 0 2px;
  margin-block: 1px;
}

/* INFO */

.info-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
}

.info-card {
  display: grid;
  gap: 4px;
}

.info-card ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--color-accent);
  list-style-type: square;
  padding: 8px 8px 8px 28px;
}

/* MAP */
.maps-layout {
  display: grid;
  flex-grow: 0;
  overflow-y: auto;
}

.map-item {
  display: grid;
}
.map-preview {
  display: grid;
  width: 100%;
  overflow: hidden;
}
.map-preview__image {
  image-rendering: pixelated;
  width: 100%;
  max-height: 80px;
  object-fit: cover;
  filter: grayscale(1);
  will-change: transform, filter;
  transition: all 200ms;
}
.map-preview:where(:hover, :focus-visible) .map-preview__image {
  transform: scale(1.25);
  filter: grayscale(0);
}

.map-submit-design {
  padding: 16px;
}

/* METADATA LIST */
.metadata-accordion {
  padding-inline: 16px;
  padding-block: 16px 8px;
}
.metadata-accordion:hover summary::after,
.metadata-accordion summary:focus-visible::after {
  content: " ▼";
}

.metadata-accordion summary {
  list-style: none;
}
.metadata-accordion summary::marker, /* Latest Chrome, Edge, Firefox */ 
.metadata-accordion summary::-webkit-details-marker /* Safari */ {
  display: none;
}
.metadata-list {
  padding-block-start: 4px;
}
.metadata-list :where(dt, dd) {
  display: inline;
}

/* NAME SETUP */
.name-setup {
  display: flex;
  gap: 8px;
}
.name-setup__nickname {
  min-width: 0; /* It may need to shrink on some Windows */
  flex-grow: 1;
}
.name-setup__locator {
  flex-shrink: 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV */
.nav-tabs {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2px;
}

.nav-section:not([data-active]) {
  display: none;
}

.nav-button {
  height: 40px;
  border-bottom: 2px solid black;
}
.nav-button[data-active] {
  background-color: var(--color-accent-l);
  border-bottom: none;
}
