* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

button {
  cursor: pointer;
}

summary {
  cursor: pointer;
}

a {
  text-decoration-thickness: 2px;
}
a:not(:hover) {
  text-decoration: none;
}
