/* TYPOGRAPH */

.u-fs-16 {
  font-size: 16px;
}

/* BACKGROUND */
.u-bg-accent {
  background-color: var(--color-accent);
}
.u-bg-accent-l {
  background-color: var(--color-accent-l);
}
.u-bg-accent-ll {
  background-color: var(--color-accent-ll);
}

.u-hover-bg-accent-l:hover {
  background-color: var(--color-accent-l);
}
.u-hover-bg-wt:hover {
  background-color: white;
}

.u-bg-bk {
  background-color: black;
}

/* BORDER */

.u-bdr-0 {
  border: none;
}

.u-bdr-2 {
  border: 2px solid black;
}

/* SPACING */

.u-pad-0 {
  padding: 0;
}

.u-pad-8 {
  padding-inline: 8px;
  padding-block: 8px;
}
