/* TYPOGRAPH */

.u-fs-14 {
  font-size: 14px;
}
.u-fs-16 {
  font-size: 16px;
}
.u-fs-18 {
  font-size: 18px;
}

/* FOREGROUND */
.u-fg-accent-d {
  color: var(--color-accent-d);
}
.u-fg-accent-dd {
  color: var(--color-accent-dd);
}

/* BACKGROUND */
.u-bg-accent {
  background-color: var(--color-accent);
}
.u-bg-accent-l {
  background-color: var(--color-accent-l);
}
.u-bg-accent-ll {
  background-color: var(--color-accent-ll);
}

.u-active-bg-accent-l:active {
  background-color: var(--color-accent-l);
}

.u-active-bg-accent-ll:active {
  background-color: var(--color-accent-ll);
}

.u-hover-bg-accent-l:where(:hover, :focus-visible) {
  background-color: var(--color-accent-l);
}
.u-hover-bg-accent-ll:where(:hover, :focus-visible) {
  background-color: var(--color-accent-ll);
}
.u-hover-bg-wt:where(:hover, :focus-visible) {
  background-color: white;
}

.u-focus-bg-wt:focus-visible {
  background-color: white;
}

.u-bg-bk {
  background-color: black;
}

/* BORDER */

.u-bdr-0 {
  border: none;
}

.u-bdr-2 {
  border: 2px solid black;
}

/* SPACING */

.u-pad-0 {
  padding: 0;
}

.u-pad-8 {
  padding-inline: 8px;
  padding-block: 8px;
}
